<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:
            postgres://bwfpvmbpyydqam:212f0a6d8f5749368e3a2baa9de15abbee8a7f172cf6ec7ea8df830bab048dab@ec2-54-158-232-223.compute-1.amazonaws.com:5432/d70pcui034k0bb
        </property>


        <property name="connection.username">bwfpvmbpyydqam</property>
        <property name="connection.password">212f0a6d8f5749368e3a2baa9de15abbee8a7f172cf6ec7ea8df830bab048dab</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgresPlusDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>

        <mapping class="entities.Album" />
        <mapping class="entities.Artist" />
        <mapping class="entities.Track" />
        <mapping class="entities.Order" />
        <mapping class="entities.Customer" />

    </session-factory>

</hibernate-configuration>